/*barra de navegacion*/
.navbar {
    padding: 1rem;
    rem;

    
    background-color: beige;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;

}

@media screen and (max-width:767px) {
    .navbar-brand {
        display: none;
    }


}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero {
    background-color: #c3dcf5;
    min-height: 450px;
    text-align: center;



}



h1 {
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;


}

.seccion-oscura {
    color: whitesmoke;
    background-color: black;

}

.secion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'rubik Dirt', cursive;
}

.seccion-oscura {
    font-size: 1.2rem;
    background-color: black;


}

.seccion-clara{
color: black;
background-color: azure;

}

.hero-principal {
    padding: 3rem;
    align-items: center;
    justify-content: center;
    flex: content;
}

.imagen-hero {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 20px;

}

.hero-principal h2 {
    font-size: 1.1rem;
    color: #615151;
}


@media screen and (min-width:700px) {
    .hero-principal-imagen {
        max-width: 600px;
        margin: 10px;

    }
}

.seccion-texto {
    font-size: 2rem;
    font-display: flex;


}

.ventas-afiliadas {
    height: 200px;
    padding: 10px;

}

.ventas-afiliadas .contenedor {

    max-width: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.experiencia{
padding: 40px 40px 60px 40px;
}


.experiencia i {
    font-size: 2.5 rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 10px 5px;
    border-radius: 20%;
  


}
.experiencia .columna {
    transition: all 0.2s ease-in;
}
.experiencia .columna:hover {
color: white;
background-color: #1b1b32;
}

.experiencia-titulo {
font-size: 30px;
font-weight: bold;
margin: 20px 0px;

}
.badges-contenedor{
    font-size: 25px;
    font-size: bold;
    padding: 10px 0;
}
.badge {
    margin:5px ;
    
}
.proyectos-resientes img{
height: 100%;
width: 100%;
padding: 10px;
border-radius: 10px;
display: block;
transition: all 0.2s ease;

}
.proyectos-contanedor{
    padding-top: 60px;
    margin-bottom: 40px;
}
 .overlay {
 transition: all 0.2s ease;
 opacity: 0;
 position: absolute;
 top: 50%;
 left: 50%;
transform: translate(-50%, -50%);
text-align: center;
 }
 .overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
 }

.proyecto {
    position: relative;
}

 .proyecto:hover img{

    opacity: 0.5 ;
 }
 .proyecto.columna:hover .overlay{
 opacity: 1;
    
 }
 .overlay .iconos-contenedor {
    display: flex;

 }
 .overlay i{

    color: #1b1b32;
    font-size: 60px;
   margin-bottom: 10px;
   margin: top 15px;

 }